@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using MudBlazor
<MudThemeProvider Theme="@Theme.AppTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content">
            @if (CurrentUri != "")
            {
                <MudStack AlignItems="AlignItems.Center" Spacing="0" Class="mt-1 ml-1" Style="position: absolute;">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Color="Color.Secondary" Size="Size.Medium" OnClick="GoBack" Class="back-button" />
                </MudStack>
            }
            @Body
        </article>
    </main>

</div>
<div class="bottom-nav">
    <NavMenu />
</div>
@code {

    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("goBack");
    }
    private string CurrentUri => NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
}

<script>
    function goBack() {
        window.history.back();
    }
</script>

<style>
    .mud-primary-text {
        color: var(--mud-palette-text-primary) !important;
    }

    .mud-secondary-text {
        color: var(--mud-palette-text-secondary) !important;
    }

    .cocktailImage {
        max-width: 15vw;
        height: auto;
        max-height: 15vh;
        width: auto;
        object-fit: cover;
        transform: scale(1.6);
        margin-right: -15px;
    }

    .focusedImage {
        max-height: 30vh;
        max-width: 30vh;
        transform: scale(1.5);
    }

    /*     body {
            background-image: url('images/tile.jpg');
            background-repeat: repeat;
            background-size: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            background-blend-mode: overlay;
        } */
    body {
        background-image: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal; 
    }

    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        padding: 15px;
    }

    main {
        flex: 1;
        padding-bottom: 60px;
    }

    .back-button {
        background-color: rgba(var(--mud-palette-secondary-rgb), 0.03) !important;
        border-radius: 50%;
        z-index: 2;
    }

    .popover {
        background-image: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal;
        width: 50vh;
        height: 35vh;
    }

    .mud-popover {
        background-image: linear-gradient(rgba(15, 15, 15, 0.85), rgba(94, 57, 186, 0.15), rgba(15, 15, 15, 0.85)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal;
    }
    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

</style>
