@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using MudBlazor
<MudThemeProvider Theme="@Theme.AppTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="page">
    <main>
        <article class="content">
            @if (CurrentUri != "")
            {
                <MudStack AlignItems="AlignItems.Center" Spacing="0" Class="back-button">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Color="Color.Secondary" Size="Size.Medium" OnClick="GoBack" />
                </MudStack>
            }
            @Body
        </article>
    </main>

</div>
<div class="bottom-nav">
    <NavMenu />
</div>
@code {

    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("goBack");
    }
    private string CurrentUri => NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
}

<script>
    function goBack() {
        window.history.back();
    }
</script>

<style>
    .mud-primary-text {
        color: var(--mud-palette-text-primary) !important;
    }

    .mud-secondary-text {
        color: var(--mud-palette-text-secondary) !important;
    }

    .cocktailImage {
        max-width: 15vw;
        height: auto;
        max-height: 15vh;
        width: auto;
        object-fit: cover;
        transform: scale(1.6);
        margin-right: -15px;
    }

    .focusedImage {
        max-height: 20vh;
        max-width: 20vh;
        transform: scale(1.7);
    }

    body {
        background-image: linear-gradient(rgba(35, 35, 35, 0.75), rgba(35, 35, 35   , 0.75)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal;
        overflow-x: hidden;
    }

    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        padding: 15px;
    }

    main {
        flex: 1;
        padding-bottom: 60px;
    }

    .back-button {
        background: radial-gradient( circle at center, rgba(var(--mud-palette-secondary-rgb), 0.10) 0%, rgba(var(--mud-palette-secondary-rgb), 0.04) 45%, rgba(35, 35, 35, 0) 100% ) !important;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        margin: 0.2rem;
    }

    .popover {
        background-image: linear-gradient(rgba(35, 35, 35, 0.65), rgba(35, 35, 35, 0.65)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal;
        width: 50vh;
        height: 25vh;
    }

    .mud-popover {
        background-image: linear-gradient(rgba(35, 35, 35, 0.65), rgba(94, 57, 186, 0.15), rgba(35, 35, 35, 0.65)), url('images/tile.jpg');
        background-size: 100%;
        background-repeat: repeat;
        background-blend-mode: normal;
    }
    .bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

</style>
