<div class="col-7">
  <input class="w-100" type="range" min="0" max="150" bind="@Value" oninput="@HandleValueChanged" ValueChanged="@ValueChanged" />
</div>
<div class="col-2 ingredients">@Value ml</div>

@code {
    [Parameter]
    public decimal Value { get; set; }
    [Parameter]
    public string Key { get; set; }
    [Parameter]
    public EventCallback<Tuple<string, decimal>> ValueChanged { get; set; }

    private async Task HandleValueChanged(ChangeEventArgs args)
    {
        Value = decimal.Parse(args.Value.ToString());
        await ValueChanged.InvokeAsync(new Tuple<string, decimal>(Key, Value));
        StateHasChanged();
    }
}